.main_bread--container {
    font-family: 'PT Serif', serif;
    width: 100%;
    height: auto;
    /*margin: 0 30px;*/
    margin-top: 50px;
    nav {
        margin: 0 30px;
        .breadcrumb {
            .breadcrumb-item {
                color: $just-white;
                a {
                    text-decoration: none;
                    color: $just-white;
                    font-size: 14px;
                }
                span {
                    color: $cream;
                    font-size: 13px;
                }
            }
        }
    }
}
.main_all--container {
    width: 100%;
    .row {
        .product_container {
            display: block;
            width: 100%;
            height: auto;
            margin: 10px 0; 
            .img_container {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                &:hover {
                 box-shadow: 5px 3px 4px $dark-brown;
                 background-color: $just-white;  
                }
                img {
                    width: 250px;
                }
           }
        }
        .text_container {
            width: 100%;
            height: auto;
            display: block;
            font-family: 'PT Serif', serif;
            text-align: center;
            h5 {
                background-color: $cream;
                width: 150px;
                height: 30px;
                margin: auto;
                padding-top: 5px;
                margin-bottom: 30px;
                font-size: 14px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
                font-weight: 600;
                color: $cream;
            }
            a {
                text-decoration: none;
            }
            .sold_p {
                font-size: 16px;
                font-weight: 400;
                color: $cream;
            }
        }
    }
}