@import "responsive";
@import "vars";
@import "nav";
@import "products";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Tangerine:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*ESTILOS GENERALES*/

body {
    background-color: $background-color;
    height: 100vh;
    width: 100%;
    font-family: 'PT Serif', serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.bodycolor {
    background-color: $background-color;
}
#main {
    height: auto;
    display: grid;
}
main {
    grid-area: main;
}

header {
    grid-area: header;
}
#carouselExampleSlidesOnly {
    display: flex;
    justify-content: end;
    .carousel-item {
        img {
            height: 100vh;
        }
    }
    .carousel-caption{
        justify-content: end;
        margin-bottom: 150px;
        text-align: right;
        font-family: 'PT Serif', serif;
        color: $cream;
        button {
            margin-top: 10px;
            width: 100px;
            height: 45px;
            color: $dark-brown;
            font-size: 16px;
            font-weight: 600;
            border: 0;
            background-color: $cream;
            transition: all 1s;
            &:hover {
                background-color: black;
                color: $cream;
            }
        }
    }
}
 /*productos*/

.main_product--container {
 width: 100%;
 height: auto;
 margin-top: 30px;
  .row {
     .product_container {
          display: block;
         width: 100%;
         height: auto;
         margin: 10px 0; 
         .img_container {
             width: 100%;
             height: auto;
             margin-bottom: 10px;
             &:hover {
                 box-shadow: 5px 3px 4px $dark-brown;
                 background-color: $just-white;  
               }
             img {
                  width: 250px;
              }
           }
       }
       .text_container {
          width: 100%;
          height: auto;
          display: block;
          font-family: 'PT Serif', serif;
          text-align: center;
          h5 {
             background-color: $cream;
             width: 150px;
             height: 30px;
             margin: auto;
             padding-top: 10px;
             margin-bottom: 30px;
             font-size: 14px;
             font-weight: 600;
           }
          p {
             font-size: 16px;
             font-weight: 600;
             color: $cream;
           }
         a {
             text-decoration: none;
           }
       } 
   }
   
}


/*seciones fotos*/

.main_img--container {
    width: 100%;
    height: auto;
    margin-top: 80px;
    .row {
        width: auto;
        .col {
            padding: 0;
            .img_container {
                position: relative;
                text-align: center;
                a {
                    text-decoration: none;
                    img {
                       width: stretch;
                    }
                }
                .text_container {
                    position: absolute;
                    top: 90%;
                    left: 60%;
                    transform: translate(-90%, -60%);
                    p {
                        font-family: 'PT Serif', serif;
                        font-style: italic;
                        color: $cream;
                        font-size: 3rem;
                        transition: all 1s;
                        &:hover {
                            color: $just-white;
                        }
                    }
                }   
           }
        }
   }
}